@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?19y9pr');
    src: url('fonts/icomoon.eot?19y9pr#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?19y9pr') format('truetype'), url('fonts/icomoon.woff?19y9pr') format('woff'), url('fonts/icomoon.svg?19y9pr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e901";
    color: #1877f2;
    font-size: 50px;
}

.icon-whatsapp:before {
    content: "\e902";
    color: #25d366;
    font-size: 50px;
    cursor: pointer;
}

.icon-youtube:before {
    content: "\1f318";
    color: #f00;
    font-size: 50px;
}